# Virtual Envirnoment
venv/
env/

#Python Cache
__pycache__/
*.pyc
*.pyo 
*.pyd

#Database
instance/
*.db
*.sqlite

#Envirnoment Variable
.env
.evn.local
.env.production

#IDE
.vscode
.idea

#OS 
.DS_Store
Thumbs.db

# Migrations - keep versions, ignore pycache
migrations/__pycache__/